pandas
python-binance
numpy
scipy
scikit-learn
cvxpy
pyqubo
dwave-system
torch
qiskit
qiskit-finance
qiskit-machine-learning
matplotlib
pylatexenc
click
pennylane
qiskit_experiments
tensorflow
keras
seaborn
quantum-jet
amazon-braket-sdk
amazon-braket-pennylane-plugin
azure-quantum[qiskit]