pandas==2.0.0
python-binance==1.0.17
numpy==1.20.3
scipy==1.10.1
scikit-learn==1.2.2
cvxpy==1.3.1
pyqubo==1.4.0
dwave-system==1.18.0
torch==2.0.0
qiskit==0.42.1
qiskit-finance==0.3.4
qiskit-machine-learning==0.6.0
matplotlib==3.7.1
pylatexenc==2.10
click==8.1.3
PennyLane==0.29.1
qiskit-experiments==0.5.1
tensorflow==2.11.1
keras==2.11.0
seaborn==0.12.2
quantum-jet==0.2.2
amazon-braket-sdk==1.37.0
amazon-braket-pennylane-plugin==1.13.1
azure-quantum[qiskit]